<div class="modal-header">
    <h3 class="modal-title">
        Login 
        <i ng-show="loading" class="pull-right fa fa-spinner fa-spin fa-fw"></i>
    </h3> 
</div>
<div class="modal-body">
    <form name="login">
        <div class="form-group">
            <label>Username</label>
            <input ng-keypress="keypress($event)" ng-disabled="loading"
                   name="username" ng-model="creds.name" class="form-control" 
                   type="text"  required />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input ng-keypress="keypress($event)"  ng-disabled="loading"
                   name="password" ng-model="creds.pass" class="form-control" 
                   type="Password" required />
        </div>
    </form>
    <div class="error-container" ng-repeat="e in user.errors track by $index">
        <div ng-switch on="e" class="alert alert-danger">
            <div ng-switch-when="invalid_username">
                Invalid username or password.
            </div>
            <div ng-switch-when="invalid_password">
                Invalid username or password.
            </div>
            <div ng-switch-default>
                {{e}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
</div>